<div class="modal-header">
  <h4 class="modal-title">Generate report</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #reportForm="ngForm">
    <div class="form-group">
      <label>Date</label>
      <div class="input-group">
        <input required class="form-control" placeholder="pick one day: yyyy-mm-dd"
              name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
        <div class="input-group-addon" (click)="d.toggle()" >
          <i class="material-icons">date_range</i>
        </div>
      </div>
    </div>
    <div class="form-group text-left">
      <label>ES Server 4.9</label>
      <textarea rows="2" cols="56" placeholder="Enter narrative text"></textarea>
    </div>
    <div class="form-group text-left">
      <label>ES Station 3.19</label>
      <textarea rows="2" cols="56" placeholder="Enter narrative text"></textarea>
    </div>
    <div class="form-group text-left">
      <label>ES PAS 1.13</label>
      <textarea rows="2" cols="56" placeholder="Enter narrative text"></textarea>
    </div>
    <div class="form-group text-left">
      <label>Pyxis Mini 1.0</label>
      <textarea rows="2" cols="56" placeholder="Enter narrative text"></textarea>
    </div>
    
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-primary" [disabled]="!reportForm.form.valid" (click)="activeModal.close('Close click')">Generate</button>
</div>
