html, body{
  height: 100%;
  font-family: Roboto, sans-serif;
}

main {
  min-height: 480px;
  padding: 1em;
}

.right-nav > button {
  background: none;
  margin-right: 1em;
  border: none;
}

.text-right > a {
  margin-right: 0.5em;
  text-decoration: none;
}

a.active {
  background-color: gray;
}

.footerTitle {
  display: inline-block;
  text-align: center;
}
