<div class="container">

  <div class="row">
    
    <div class="col-8">
      <h1 x-large class="sample-content text-left">Reports</h1>
      <report-table [reports]="filteredReports ? filteredReports : reports"></report-table>
    </div>

    <div class="col-4 text-center">
      <div class="row">

        <div class="col-12 text-center">
          <button class="btn-primary rounded text-button reportButton" (click)="open()">Generate Report</button>
        </div>
        
        <div class="col-12 text-center">
          <button class="btn-primary rounded text-button reportButton" (click)="todayReports(); dp.navigateTo();">Today</button>
        </div>

        <div class="col-12 text-center">
          <h1 x-large class="sample-content">Filter by date</h1>
          <ngb-datepicker #dp [(ngModel)]="date" (ngModelChange)="filterReports()"></ngb-datepicker>
        </div>
        
      </div>
    </div>
  </div>

</div>
